<div class="col-sm-12">
  <form ng-submit="handleLogin(email)">
    <div class="col-sm-6">
      <img ng-src="images/purpletinyhouse.jpg" alt="" />
    </div>
    <div class="col-sm-6">
      <h2 class="form-signin-heading " style=color:purple>Home Away, Sweet Home!</h2>
      <h4> To get started, enter your email and password</h4>
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          <input type="text" id="email " class="form-control " ng-model="email" placeholder="Email address" autofocus required/>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Password</span>
          <input type="password" name="password"" id="password " class="form-control " placeholder="Password" required/>
        </div>
        <br />
        <div ng-if="loginError" class="alert alert-danger">
          <strong>Login Failed. Please enter user name again.</strong>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group ">
          <button class="btn btn-lg btn-center btn-primary " type="submit ">Take Me Away</button>
        </div>
      </div>
    </div>
    <br/>
    <br/>
  </form>
</div>