<script>
  function scrollTo(id) {
    $('html, body').animate({
        scrollTop: $(id).offset().top
    }, 2000);
  }
</script>

<div ng-controller="ListingDetailsCtrl">

  <div class="">

    <div class="thumbnail">
      <div id="navbar">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="javascript: history.back();">Back to Listings</a></li>
            <li class="active"><a href="javascript: scrollTo('#listing');">Listing</a></li>
            <li><a href="javascript: scrollTo('#location');">Location</a></li>
            <li><a href="javascript: scrollTo('#reviews');">Reviews</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-primary" id="listing">
        <div class="panel-heading">
          <h3>{{airbnblisting.title}}</h3>
        </div>
        <div class="panel-body">
          <img class="" ng-src="static/images/{{airbnblisting.image}}" alt="">

          <div class="caption">
            <h3><i class="glyphicon glyphicon-tag"></i>{{airbnblisting.price | currency}}/{{airbnblisting.duration}}&nbsp;&nbsp;
              <span class="label label-info nowrap">{{airbnblisting.type}}</span>
            </h3>
            <h4><i class="glyphicon glyphicon-home"></i> {{airbnblisting.address1}}<br/> {{airbnblisting.city}}&nbsp;&nbsp;{{airbnblisting.state}}&nbsp;&nbsp;{{airbnblisting.zip}}
              <br/> {{airbnblisting.country}}
            </h4>
            <h4>
              <div class="label label-info nowrap listingDescription">Description: {{airbnblisting.description}}</div>
              <br/>
              <br/>
              <span class="label label-primary">Beds: {{airbnblisting.bedrooms}}</span>
              <span class="label label-primary">Baths: {{airbnblisting.bathrooms}}</span>
              <span class="label label-primary">Pool: {{airbnblisting.pool ? 'Yes' : 'No'}}</span>
              <span class="label label-primary">SqFt: {{airbnblisting.area}}</span>
              <span class="label label-primary">Pets: {{airbnblisting.petsAllowed ? 'Yes' : 'No'}}</span>
              <br/>
              <br/>
              <span class="glyphicon glyphicon-user">&nbsp;<span class="text-left">{{airbnblisting.name}}</span></span>
              <br/>
              <span class="glyphicon glyphicon-earphone">&nbsp;<span class="text-left">{{airbnblisting.phone}}</span></span>
            </h4>

            <button class="btn btn-sm btn-warning" ng-click="editDetails(airbnblisting)">Edit</button>
            <button class="btn btn-sm btn-success" ng-click="reserve(airbnblisting)">Reserve</button>
            <button class="btn btn-sm btn-info" ng-click="review(airbnblisting.rowid,airbnblisting.image)">Create Review</button>

          </div>

        </div>
      </div>

      <div class="panel panel-primary" id="location">
        <div class="panel-heading">
          <h3 class="panel-title">Location</h3>
        </div>
        <div class="panel-body">
          <div id="map">
          </div>
        </div>
      </div>

      <div id="reviews" class="panel panel-primary" ng-if="listingReviews.length > 0">
        <div class="panel-heading">
          <h3 class="panel-title">Reviews &nbsp;<span class="badge">{{listingReviews.length}}</span></h3>
        </div>
        <div class="panel-body">
          <div class="review" ng-repeat="review in listingReviews ">
            <div class="review-body">
              <span class="glyphicon glyphicon-user">&nbsp;<b><span class="text-left">{{review.name}}</span></b>
              </span>

              <p> <b>Title:</b> {{review.reviewTitle}}<br/>
                <b>Arrival Month and Year:</b> {{review.arrivalDate}}<br/>
                <b>Review:</b> {{review.review}}<br/>
                <b>Rating:</b> 
                <span ng-repeat="i in convertNumberToArray(review.rating)" class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <br/>
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>