#container {

    background: rgba(54, 25, 25, .35);
    width: 70%;
    min-width: 1200px;
    padding: 5%;
    padding-top:2%;
    padding-bottom:0px;

}

#reservationForm {
  background-color: rgb(255,249,153);
  padding: 15px;
}

.nowrap {
    white-space: normal;
}

.listingrental-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: rgb(255,249,153);
}

.listingrental-form-row {
  margin-bottom: 10px;
}

.listing-form-row, .listing-button {
  margin-top: 10px;
}

.col-sm-4 {
    width: 33.33333333%;
}

.airbnblisting {
  height: 750px;
  overflow: hidden;
}

.listingDescription {
    height: 100px !important;
    display: block;
    overflow: hidden;
    text-align: left;
}

.listingImage {
  height: 200px !important;
}

.login-form {
  margin-bottom: 10px;
  width: 85%;
  height: 500px;
  text-align: left;
  padding: 15px;
  background-color: rgba(54, 25, 25, .35)
}

.review-form {
  margin-bottom: 10px;
  height: 500px;
  padding: 15px;
  height: 500px;
  background-color: rgba(54, 25, 25, .35)
}

.review-body {
      border: 2px solid purple;
      width: 85%;
      font-size: 14px; 
}
 
#map{
    
    padding: 25px;
    height:700px; 
    width:800px; 
    margin-bottom: 100px;
    overflow: visible !important;
    
}
#mapRepeat{ 
     display: inline;
     }
#country_container { 
     width: 1000px; 
     margin: 13px 3px 3px 0px; 
     text-align: center; 
     width: 85px; 
     padding: 4px; 
     display: inline-table;  
     color: white; 
     background-color: black; 
     font-size: 12px; 
     cursor: pointer;
     border: 1px solid black; 
     border-radius:13px; 
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px black;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }

#listingSelection {
  top: 25px;
  height: 700px;
  overflow-y: scroll;
}